@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
body{
    font-family: 'montserrat', sans-serif;
}
header{
    height: 100px;
    padding-left: 20px;
}
nav{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.navigation{
    display: flex;
}
.navigation li{
    margin: 10px;
    list-style: none;
    padding-right: 20px;
}
.navigation li a{
    text-decoration: none;
    font-weight: bold;
}
.one{
    display: flex;
    padding-top: 80px;
    padding-right: 20px;
}
h1{
    font-size: 40px;
    font-weight: 900px;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.button{
    background-color: rgb(212, 99, 212);
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 20px;
    color: white;
}
.button-2{
    text-align: right;
    margin-top: 30px;
    margin-bottom: 80px;
}

.first{
    padding-left: 20px;
    padding-right: 100px;
}
.second{
    padding-left: 100px;
    padding-right: 100px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.logos{
    display: inline-flex;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
}
.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: left;
    padding-left: 30px;
}
.three h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.four{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 30px;
}
.feature{
    margin-top: 50px;
    padding-right: 50px;
}
.feature p{
    text-align: left;
    justify-content: left;
}
footer{
    margin-top: 50px;
    height: 200px;
    text-align: center;
    background-color: black;
    text-decoration-color: white;
}
footer h2{
    color: white;
}
footer h4{
    color: white;
}
footer h5{
    color: white;
}
.footer-logo{
    color: white;
}
    

